<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body" style="text-align: center;">
                    
                            
                            <h1 style="color:rgb(5, 5, 5);">Albert Einstein</h1>
                            <h2 style="color: bisque;"> The only thing that you absolutely have to know, is the location of the library </h2>
                          
                      
                    
            
                </div>
            </div>
        </div><!--/col-12-->
    </div>
</div>